:root {
    --color1: #b6dcff;
    --color2: #4ca1bc;
    --color3: #828286;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

html {
    /*background-color: var(--color1);*/
}

.myVerticalAlign {
    margin-top: auto;
    margin-bottom: auto;
}

.menuRow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    color: var(--color2);
}

.menuRow button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: var(--color2);
}

.menuRow button:hover {
    background-color: var(--color2);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mainContent {
    max-width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;*/
    background-color: white;
}

.mainContent .row {
    padding-left: 25px;
    padding-right: 25px;
}

.mainContent p {
    text-align: justify;
}

.imgContainer {
    padding: 25px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.imgContainer img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.topContainer {
    /*background-color: var(--color1);*/
}

.skillCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.skillCard img {
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.skillCard p {
    text-align: justify;
}

.portfolioCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.portfolioCard img {
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 8px;
}

h3 {
    color: var(--color2);
}

.myFooter {
    padding: 10px;
    background-color: black;
    color: white;
}

.mySpacer {
    width: 100%;
    height: 20px;
}

.progress {
    height: 25px !important;
    border-radius: 5px !important;
}

.progress-bar {
    background-color: var(--color2) !important;
    height: 25px !important;
}

@media (max-width: 1280px) {
    .mainContent {
        max-width: 85%;
    }
}

@media (max-width: 900px) {
    .mainContent {
        max-width: 100%;
    }
}