@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
    --color1: #b6dcff;
    --color2: #4ca1bc;
    --color3: #828286;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

.topContainer {
    padding: 0 !important;
    width: 100% !important;
}

.myVerticalAlign {
    margin-top: auto;
    margin-bottom: auto;
}

#menuBar {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    max-width: 100vw !important;
    margin: auto !important;
}

#innerMenuBar {
    width: 70% !important;
    padding-left: 35px;
    padding-right: 35px;
}

.navbar-brand {
    color: var(--color2) !important;
    font-size: 200% !important;
    margin-right: 50px !important;
}

.navbar-nav a {
    color: var(--color2) !important;
    border-radius: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav a:hover {
    background-color: var(--color2) !important;
    color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-nav > a.active {
    background-color: var(--color2) !important;
    color: white !important;
    border-radius: 10px !important;
}

.mainContent {
    max-width: 70%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 25px;
    background-color: white;
    padding: 0 !important;
}

.mainContent .row {
   padding: 0 !important;
   margin: 0 !important;
}

.mainContent p {
    text-align: justify;
}

.imgContainer {
    padding: 0;
    position: relative;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.imgContainer img {
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    object-fit: cover;
}

.imgContainer .imgContent {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    max-width: 100%; /* Full width */
    height: 100%;
    padding: 0 !important; /* Some padding */
    text-align: center;
    color: white !important;
    left: 0;
    right: 0;
    margin: auto !important;
    align-content: center;
}

.imgContent h1 {
    color: white !important;
    max-width: 100%;
}

.imgContent h3 {
    color: white !important;
    max-width: 100%;
}

.skillCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 5px;
    max-width: 100% !important;
}

.skillCard img {
    max-width: 100%;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.skillCard p {
    text-align: justify;
}

.mobileTextContainer {
    margin: auto !important;
}

.mobileImgContainer img{
    max-height: 400px !important;
}

.myCaro {
    max-width: 850px !important;
    margin: auto;
    padding-left: 75px !important;
    padding-right: 75px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.myCaroInner {
    margin: auto;
}

h3 {
    color: var(--color2);
}

.myFooter {
    padding: 10px;
    background-color: black;
    color: white;
    max-width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.footerMargin {
    margin: auto !important;
}

.mySpacer {
    width: 100%;
    height: 20px;
}

.progress {
    height: 25px !important;
    border-radius: 5px !important;
}

.progress-bar {
    background-color: var(--color2) !important;
    height: 25px !important;
}

.myEmail {
    background-color: white;
    color: var(--color2) !important;
    width: fit-content !important;
    border-radius: 10px;
    text-decoration: none !important;
    margin: auto;
    padding: 5px;
    font-size: 125%;
}

.myEmail:hover {
    color: white !important;
    background-color: var(--color2);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mySocial {
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.mySocial:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.myFacebook {
    background-color: #4267B2;
    color: white;
}

.myTwitter {
    background-color: #1DA1F2;
    color: white;
}

.myInsta {
    background-color: #e9754e;
    color: white;
}

@media (max-width: 1280px) {
    .mainContent {
        max-width: 80%;
    }

    #innerMenuBar {
        width: 85% !important;
    }

    .myCaro {
        max-width: 80% !important;
        margin: auto;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

@media (max-width: 767px) {
    .mainContent {
        max-width: 100%;
    }

    #innerMenuBar {
        width: 100% !important;
    }

    .navbar-nav a {
        color: var(--color2) !important;
        border-radius: 10px !important;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .progress {
        max-width: 80%;
        margin: auto;
    }

    .skillCard {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .cardContainer {
        max-width: 100%;
    }

    .myCaro {
        max-width: 100% !important;
        margin: auto;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    
}