@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css")

$color1: #fb775d
$color2: #5d94fb
$color3: #fbc65d
$color4: #C6B9CD
$color5: #6ABEA7

body
    font-family: 'Montserrat', sans-serif !important
    width: 100% !important
    min-height: max-content !important
    background-image: url("../imgs/background.jpg") !important
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover

.wordHighlight2
    color: $color2
    font-weight: bolder

.wordHighlight3
    color: $color3
    font-weight: bolder

.headImg
    max-height: 300px
    max-width: 100% !important
    border-radius: 25px
    margin: auto
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important

.section1 
    padding: 0 !important
    margin: 0 !important
    background-color: white !important
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important


.section2 
    padding: 0 !important
    margin: 0 !important
    background-color: $color2 !important
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important
    color: white
    opacity: 0.85
    h3 
        color: white !important

.headerSection
    padding: 25 !important
    margin: auto
    box-shadow: auto 4px 8px 0 rgba(0,0,0,0.2) !important
    color: white
    min-height: 500px
    h3 
        color: white !important
    background-image: url(../imgs/headimg.jpg)
    background-position: center
    background-size: cover

.headerText
    background-color: rgba(0,0,0,0.5)
    padding: 50px !important
    margin: 0 !important
    min-height: 500px
    width: 100%
    display: flex
    align-items: center

.headerTextInner
    padding-left: 80px
    padding-right: 80px

.headerLink
    background-color: $color3
    color: white !important
    width: fit-content !important
    border-radius: 10px
    text-decoration: none !important
    margin: auto
    padding: 8px
    font-size: 125%
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    &:hover
        color: white !important
        background-color: $color2 !important
        margin: auto

.inPageLink 
    color: $color3
    text-decoration: none
    font-weight: bold
    &:hover 
        color: $color3
        text-decoration: underline

.topContainer 
    padding: 0 !important
    width: 100% !important

.mainContainer 
    padding: 0 !important
    width: 100% !important

.mainContent 
    max-width: 60% !important
    margin: auto !important
    background-color: none
    padding-top: 25px
    padding-bottom: 25px
    .row 
        padding: 0 !important
        margin: 0 !important
    p 
        text-align: justify

.myVerticalAlign
    margin-top: auto
    margin-bottom: auto

#menuBar
    background-color: white !important
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important
    max-width: 100vw !important
    margin: auto !important

#innerMenuBar
    width: 70% !important

.navbar-brand
    color: $color2 !important
    font-size: 225% !important
    margin-right: 50px !important

.navbar-nav 
    a
        color: $color2 !important
        border-radius: 10px !important
        margin-left: 10px
        margin-right: 10px
    a:hover
        background-color: $color2 !important
        color: white !important
        border-radius: 10px !important
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    a.active
        background-color: $color2 !important
        color: white !important
        border-radius: 10px !important

.skillCard
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    margin: 10px
    padding: 10px
    max-width: 100% !important
    background-color: white
    border-radius: 10px
    img
        max-width: 100%
        margin-bottom: 8px
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    p
        text-align: justify
    h1
        color: $color2 !important

.skillIcon
    color: $color3

.mobileTextContainer
    margin: auto !important

.mobileImgContainer
    img
        max-height: 400px !important
        max-width: 100% !important
        margin: auto !important

.myCaro
    max-width: 850px !important
    margin: auto
    padding-left: 75px !important
    padding-right: 75px !important
    padding-top: 20px !important
    padding-bottom: 20px !important

.myCaroInner
    margin: auto

h3
    color: $color2

.myFooter
    padding: 10px
    background-color: black
    color: white
    max-width: 100%
    margin-left: 0 !important
    margin-right: 0 !important

.footerMargin
    margin: auto !important
    padding: 10px !important

.mySpacer
    width: 100%
    height: 20px

.mySmallSpacer
    width: 100%
    height: 10px

.myBigSpacer
    width: 100%
    height: 70px

.progress
    height: 25px !important
    border-radius: 5px !important
    max-width: 100% !important
    margin: auto

.progress-bar
    background-color: $color2 !important
    height: 25px !important

.mySocial
    border-radius: 10px
    width: 60px !important
    height: 60px !important
    border: none
    margin-left: 10px
    margin-right: 10px
    &:hover
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4) !important

.myTwitter
    background-color: #1DA1F2
    color: white

.myInsta
    background-color: #e9754e
    color: white

.myWhatsapp
    background-color: #25D366
    color: white

.myEmail
    background-color: $color2
    color: white

.contactEmailDiv 
    a
        max-width: max-content
        margin: auto

.handShakeImg
    align-content: flex-end
    img
        border-radius: 25px !important
        padding: 0 !important
        max-width: 767px !important
        margin: auto

@media (max-width: 1280px)
    .mainContent
        max-width: 80% !important

    #innerMenuBar
        width: 80% !important

    .myCaro
        max-width: 80% !important
        margin: auto
        padding-top: 25px !important
        padding-bottom: 25px !important
        padding-left: 50px !important
        padding-right: 50px !important

@media (max-width: 767px)
    body
        background-repeat: repeat !important
        background-attachment: scroll !important
        background-size: 800px

    .mainContent
        max-width: 100% !important

    #innerMenuBar
        width: 100% !important

    .navbar-nav a
        color: $color2 !important
        border-radius: 10px !important
        margin-left: 10px
        margin-right: 10px
        text-align: center

    .headerText
        width: 100%
        padding: 10px !important

    .headerTextInner
        margin: auto

    .progress
        max-width: 80%
        margin: auto

    .skillCard
        margin: auto !important
        margin-bottom: 10px !important
        max-width: 90% !important

    .cardContainer
        max-width: 100%

    .myCaro
        max-width: 100% !important
        margin: auto
        padding-top: 30px !important
        padding-bottom: 30px !important
        padding-left: 25px !important
        padding-right: 25px !important

    .handShakeImg img
        border-radius: 0 !important